.formSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 53px;
    background-color: #ffffffcc;
    border-radius: 40px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.25);
    width: 886px;
}
  
@media (max-width: 991px) {
    .formSection {
      padding: 40px;
    }
}
  
@media (max-width: 640px) {
    .formSection {
      padding: 20px;
    }
}

.formDisplay {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
  
.formHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
  
.formTitle {
    color: #000;
    font-size: 36px;
    font-weight: 900;
}
  
.formSubtitle {
    color: #000;
    font-size: 16px;
}
  
.urlForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
  
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
  
.inputLabel {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
  
.inputWrapper {
    display: flex;
    padding: 16px 24px;
    border: 1px solid #8d9195;
    border-radius: 8px;
}
  
.urlInput {
    width: 100%;
    color: #868b8f;
    font-size: 16px;
    border: none;
    outline: none;
}
  
.submitButton {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #4724f6;
    padding: 11px 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    justify-content: center;
    width: fit-content;
    color: #fff;
    font-weight: bold;
}

.formDisplayShort {
    display: flex; 
    flex-direction: row;
    align-items: center;
    gap:5px
}